<%- if @workspace.persisted? %>
  $('.navbar-workspaces').append(`
    <div class="navbar-item" data-id="navbar_workspace_<%= @workspace.id %>">
      <%= j render 'account/workspaces/workspace', workspace: @workspace %>
    </div>
  `);
  $('.modal').removeClass('is-active');
<%- else %>
  $('.modal .modal-form').html('<%= j render('account/workspaces/form', workspace: @workspace) %>');
<%- end %>
