<% if @updated %>
  $('.navbar-workspaces').html(`<%= j render 'account/workspaces/show_workspaces', workspaces: @workspaces %>`);
  $('.modal .modal-form').html(`
    <% flash.each do |key, value| %>
      <div><%= value %></div>
    <% end %>
  `);
  setTimeout(function(){ $('.modal').removeClass('is-active') }, 1000);
<% else %>
  $('.modal .modal-form').html('<%= j render('account/workspaces/form', workspace: @workspace) %>');
<% end %>
