= simple_form_for :shared_workspace, url: account_workspace_shared_workspaces_path(workspace_id: workspace.id), remote: true do |f|
  = f.input :user_id, label: false, wrapper: :bulma_input, required: true, prompt: "Select user",
                  collection: uninvited_users(workspace).map{ |user| [user.full_name, user.id] }
  = f.submit 'Add member', class: 'button is-link'
