@import 'bulma';

.checkbox {
  label {
    input {
      vertical-align: -2px;
      margin-right: 3px;
    }
  }
}

.required abbr {
  color: red;
}

.no-content {
  height: 256px;
  width: 256px;
  margin: auto;
}
