@import 'bulma';

.checkbox {
  label {
    input {
      vertical-align: -2px;
      margin-right: 3px;
    }
  }
}

.required abbr {
  color: red;
}

.profilebox textarea.optional {
  height: 160px;
}
