.simple-calendar {
  table {
    table-layout: fixed;
    border: 1px solid #ffff74;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }
  tr {
    border-collapse: collapse;
  }
  th {
    padding: 6px;
    box-sizing: border-box;
    text-align: left;
    margin-top: 10px;
  }
  td {
    padding: 6px;
    vertical-align: top;
    width: 120px;
    border: 1px solid #ddd;
    a {
      i.fa-plus {
        visibility: hidden;
      }
    }
    &:hover {
      i.fa-plus {
        visibility: visible;
      }
    }
  }
  thead {
    background-color: #ffff74;
  }
  a {
    color: #363636;
  }
  ul {
    margin-bottom: 5px;
    list-style:none;
  }
  .more{
    text-align: center;
    font-size: 14px;
    cursor:pointer;
  }

  li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid #ddd;
    padding: 2px;
    border-radius: 4px;
  }
  .calendar-heading {
    padding: 7px;
    background-color: #ffff74;
    text-align: center;
    font-family: 'Roboto' Bold;
    font-size: 25px;
    color: #000000;
  }
  .calendar-task {
    font-size: 14px;
  }
  .is-rounded {
    border: 2px solid #ddd;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    float: left;
    margin: 3px;
  }
  .day {
    height: 125px;
    width: 14%;
  }
  .today {
    background: #e7e7e7
  }
  .prev-month {
    background: #f8f8f8;
  }
  .next-month {
    background: #f8f8f8;
  }
  .has-border-success {
    border-color: #23d160;
  }
}
