.hero-body {
  &.welcome-baner {
    .container {
      padding: 75px 220px;
    }
    .button {
      background-color: #ad1457;
      width: 145px;
    }
    .button-link {
      color: #ffffff;
    }
    .title {
      font-size: 42px;
      color: #000000;
    }
    .p {
      font-size: 22px;
      padding-bottom: 20px;
    }
  }
}
.has-bg-img {
  background: image-url('img_1.jpg') center center;
  background-repeat: no-repeat;
}
.has-background {
  background-color: #ffff52;
}
.section{
  &.description {
    .container {
      padding: 20px 80px;
      text-align: center;
    }
    .column {
      padding: 35px;
    }
    .title {
      font-size: 40px;
      color: #000000;
    }
    .h1 {
      font-size: 32px
    }
    .p {
      font-size: 18px;
      text-align: justify;
    }
    .comp-image {
      max-height:120px;
    }
  }
}

.container {
  &.landing-footer {
    padding: 0px 80px;
    text-align: center;
    .title {
      font-size: 32px;
      color: #000000;
    }
    .p {
      font-size: 24px;
    }
  }
}

.price {
  .title {
    margin-top: 10px;
  }
  .pricing-table {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.premium, .enterprise {
  .pricing-plan {
    .button {
      background-color: #ad1457;
      color: #fff;
    }
    span {
      color: #ad1457;
    }
  }
}

.busines {
  .pricing-plan {
    .button {
      background-color: #ffc623;
      color: #fff;
    }
    span {
      color: #ffc623;
    }
  }
}

.pricing-table {
  .pricing-plan {
    .plan-item {
      text-align: left;
    }
  }
}

form.new_task {
  .select {
    margin-bottom: 3rem;
    &:not(.is-multiple):not(.is-loading)::after {
      right: 1rem;
      top: 3rem;
    }
  }
}
