.email-table{
  width: 538px;
  padding: 20px;
  background: #fff;
  margin: 40px auto;
  text-align: left;
  font-family: Gill Sans Extrabold, sans-serif;
  border-width:5px;
  border-style:solid;
}
th, td {
    padding: 10px;
}
