.email-table{
  width: 540px;
  padding: 20px;
  background: #fff;
  margin: 40px auto;
  text-align: left;
  font-family: Gill Sans Extrabold, sans-serif;
  border: 5px solid;
}
th, td {
  padding: 10px;
}
