.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-header {
  flex: none;
}
.site-content {
  flex: 1;
}
.site-footer {
  flex: none;
}
.footer {
  background-color: #ffd600;
}
.footer-content {
  padding: 10px 10px;
}

.navbar {
  font-size: 18px;
}
.navbar {
  background-color: #ffd600;
}
.button.nav-bar {
  background-color: #ad1457;
}
.button-link {
  color: white;
}
abbr[title] {
  text-decoration: none;
}
.user_avatar {
  display: inline-block;
}
.file.optional.user_avatar {
  margin: 0.5em 0;
}
abbr[title] {
  text-decoration: none;
}
.simple-calendar {
  table {
    table-layout: fixed;
    border: 1px solid #ffff74;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }
  tr {
    border-collapse: collapse;
  }
  th {
    padding: 6px;
    box-sizing: border-box;
    text-align: left;
    margin-top: 10px;
  }
  td {
    padding: 6px;
    vertical-align: top;
    width: 120px;
    border: 1px solid #ddd;
  }
  thead {
    background-color: #ffff74;
  }
  a {
    color: #363636;
  }
  ul {
    margin-bottom: 5px;
    list-style:none;
  }
  .more{
    text-align: center;
    font-size: 14px;
    cursor:pointer;
  }

  li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid #ddd;
    padding: 2px;
    border-radius: 4px;
  }
  .calendar-heading {
    padding: 7px;
    background-color: #ffff74;
    text-align: center;
    font-family: 'Roboto' Bold;
    font-size: 25px;
    color: #000000;
  }
  .calendar-task {
    font-size: 14px;
  }
  .is-rounded {
    border: 2px solid #ddd;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    float: left;
    margin: 3px;
  }
  .day {
    height: 125px;
    width: 14%;
  }
  .today {
    background: #e7e7e7
  }
  .prev-month {
    background: #f8f8f8;
  }
  .next-month {
    background: #f8f8f8;
  }
}

.modal-background {
  background-color: rgba(19, 19, 19, 0.56);
}

.modal-content {
  position: relative;
  background: #f3f3f3;
  padding: 2rem;
  border-radius: 15px;
}

.close {
  position: absolute;
  top: 0;
  right: 5px;
  &:hover {
    color: #5f0d31;
  }
}
