.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-header {
  flex: none;
}
.site-content {
  flex: 1;
}
.site-footer {
  flex: none;
}
.footer {
  background-color: #ffd600;
  color: black;
}
.footer-content {
  padding: 10px 10px;
}

.navbar {
  font-size: 18px;
}
.navbar {
  background-color: #ffd600;
}
.button.nav-bar {
  background-color: #ad1457;
}
.button-link {
  color: white;
}
abbr[title] {
  text-decoration: none;
}
