.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-header {
  flex: none;
}
.site-content {
  flex: 1;
}
.site-footer {
  flex: none;
}
.footer-content {
  padding: 10px 10px;
}
.user_avatar {
  display: inline-block;
}
.file.optional.user_avatar {
  margin: 0.5em 0;
}
.simple-calendar {
  table {
    border: 1px solid #00b89c;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }
  tr {
    border-collapse: collapse;
  }
  th {
    padding: 6px;
    box-sizing: border-box;
    text-align: left;
    margin-top: 10px
  }
  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;
    border: 1px solid #ddd;
  }
  thead {
    background-color: #00b89c;
  }
  a {
    color: black
  }
  .calendar-heading{
    padding: 7px;
    background-color: #00d1b2;
    text-align: center;
    font-family: 'Roboto' Bold;
    font-size: 25px;
  }
  .calendar-task{
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .day {
    height: 120px;
  }
  .today {
    background: #e7e7e7
  }
  .prev-month {
    background: #f8f8f8;
  }
  .next-month {
    background: #f8f8f8;
  }
}
