.has_rounded_background {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 13px;
  text-align: center;
  border: 1px solid lightgrey;
}

.glyphicon-move:before {
  content: url('cursor-move.svg');
  cursor: -webkit-grabbing;
  padding: 5px;
}
