.has_rounded_background {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 13px;
  text-align: center;
  border: 1px solid lightgrey;
  line-height: 24px;
}

.image {
  display: inline-block;
  &.is-rounded {
    img {
      object-fit: cover;
      object-position: center center;
      height: 100%;
      width: 100%;
      border-radius: 250983px;
    }
  }
}

.user-info {
  display: flex;
}
