.has_rounded_background {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 13px;
  text-align: center;
  border: 1px solid lightgrey;
}

.glyphicon-move:before {
  content: url('cursor-move.png');
  cursor: -webkit-grabbing;
  padding: 5px;
  line-height: 24px;
}

.user-info {
  .image {
    &.is-rounded {
      img {
        object-fit: cover;
        object-position: center center;
        height: 100%;
        width: 100%;
        border-radius: 250983px;
      }
    }
  }
}
