$color: #566473;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

#search-form {
  margin-right: 10px;
  position: relative;

  .search-box {

    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 20%;
      height: 20%;
      border: 2px solid;
      transition: all 0.6s ease;
      border-radius: 2px;
    }

    &::after {
      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: $color;
      border-right-color: $color;
    }

    &::before {
      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: $color;
      border-left-color: $color;
    }

    &:focus-within {
      &:after,
      &:before {
        width: 100%;
        height: 100%;
      }
    }


    #search {
      width: 300px;
      padding: 8px 8px;
      border: none;
      font-size: 18px;

      &:focus {
        outline: none;
      }
    }
  }

  #search-results {
    padding: 0 0;
    display: none;
    position: absolute;
    width: 300px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 2px solid $color;
    border-radius: 0;
  }
}

#workspaces-block, #projects-block, #tasks-block, #no-content-block {
  display: none;
  width: 285px;
  margin: 5px 0 0 0;
  padding: 0;

  .select-item {
    background-color: $color;
    transition: 0.5s;

    a {
      color: white !important;
    }
  }

  .level {
    width: 285px;
    margin: 0;

    .level-item {
      max-width: 285px;
      text-align: left;
      justify-content: left;
      padding: 0 20px;
      font-size: 20px;
      a {
        color: $color;

        &:hover, &:active, &:visited, &:link {
          text-decoration: none;
        }
      }
    }
  }
}
