span.member-name {
  padding: 0 5px;
}

span#new-member {
  padding-left: 5px;
}

.custom_width  {
  min-width: 200px;
  margin-right: 1rem;
}

.project {
  background-color: #fdd40bb3;;
  border-radius: 1em;
  .image {
    margin: auto;
  }
  .card-content {
    text-align: center;
    color: #6b6969;
  }
  &:hover {
    .card-footer{
      visibility: visible;
    }
  }
  .card-header {
    overflow: hidden;
  }
  .card-footer {
    height: 2em;
    visibility: hidden;
    transition: all 0.1s ease;
  }
  &.empty {
    background-color: #f3f3f3;
    border: 1px dashed #bbbbbb;
    height: 100%;
    &:hover {
      border-color: #5a5a5a;
    }
    footer {
      border-top: none;
    }
  }
}

#workspace-members, #new-member {
  .box {
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
    .user-name {
      padding-left: 5px;
    }
  }
}

.have_background {
  margin-top: 12px;
  background-color: #f3f3f3;
  border-radius: 10px;
}

.link_generator {
  max-width: 50%;
  margin: 0 auto 24px auto;
}

#show_invitation_link {
  max-width: 70%;
}