span.member-name {
  padding: 0 5px;
}

span#new-member {
  padding-left: 5px;
}

.custom_width  {
  min-width: 200px;
  margin-right: 1rem;
}

.modal {
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}
